# PfN Week 4: Tuples, Loops, and Functions 

## Tuples
Tuples are static, or immutable. Like strings, you cannot modify them once you have created them. Slicing works with tuples like it works with lists. Tuples are useful when you want to make sure something cannot accidentally get modified, and we will use them when we learn about functions (hopefully) this class.

In [1]:
my_tup = 'test',0,1

In [2]:
my_tup

('test', 0, 1)

In [3]:
my_tup[0]

'test'

What will `my_tup[1]` output? Guess before typing and checking below.

In [4]:
my_tup[1]

0

In [ ]:
my_tup[0] = 'it worked' # will this line work? Guess before trying.会error，因为不能修改

TypeError: 'tuple' object does not support item assignment

In [6]:
my_tup + 0 # what about this?

TypeError: can only concatenate tuple (not "int") to tuple

In [7]:
my_tup + (0,) # creates a new tuple, but my_tup is unchanged.

('test', 0, 1, 0)

In [8]:
my_tup

('test', 0, 1)

In [9]:
new_tup = my_tup + (0,)

In [10]:
new_tup # what will new_tup be?

('test', 0, 1, 0)

In [11]:
del my_tup[0]

TypeError: 'tuple' object doesn't support item deletion

## Tuple Unpacking and Packing

Tuple packing and unpacking refers to separating a tuple into variables or joining variables into a tuple. When unpacking `_` is used as a placeholder for a tuple value you do not care about using in further code.

In [12]:
a,b = my_tup # fails because only have two values to unpack into but tuple has 3

ValueError: too many values to unpack (expected 2)

In [14]:
a,b,_ = my_tup # tuple unpacking

In [15]:
print(a,b)

test 0

In [16]:
new_tup = 1,2,3 # tuple packing

In [17]:
new_tup

(1, 2, 3)

In [18]:
hierarchical_tup = (1,2),3
print(hierarchical_tup)

((1, 2), 3)

In [19]:
# Let's say we want a b and c to represent the three elements in our hierarchical tuple
a,b,c = hierarchical_tup
# Why does this fail?

ValueError: not enough values to unpack (expected 3, got 2)

In [30]:
# How can we unpack this?

# Unpack multiple tuples

x, c = hierarchical_tup
a,b = x

# Hierarchical Tuple Unpacking

(a,b),c = hierarchical_tup

hierarchical_tup

((1, 2), 3)

## Exercise:

1. Are tuples mutable or immutable?
2. Create a tuple of your and your coding partner's names, called `our_names`.
3. Change your name to the name of one of the other people at your table (Can you?)
4. Create a new tuple of `whole_table_names` with `our_names` and your other tablemate's names.
5. Unpack the `whole_table_names`, using a placeholder (a placeholder in this context is ``` _```) for your own name 
6. Print everyone else's names using the unpacked values.

In [37]:
#1. immutable
#2.
our_names = 'simona', 'ashley'
our_names
#3. No
#4.
whole_tables_names = our_names + ('cindy',)
whole_tables_names
#5.
a,b,_ = whole_tables_names
print(a,b)

#6.

simona ashley

## Directly Iterate through a dictionary using a for loop

### In case you forgot:

The syntax for a Python dictionary begins with the left curly brace ```{```, ends with the right curly brace ```}```, and contains zero or more ```key : value``` items separated by commas ```,```. The key is separated from the value by a colon ```:```.

 #### Example:

In [21]:
monkey_A = {
'spiketimes': [0,20,34,56],
'name': 'Einstein',
}

## Something I did not go over explicitly last time.
When trying to look at the information in a Python dictionary, there are multiple methods, i.e. functions, that will return a tuple that contain the dictionary keys and values.

```.keys()``` returns the keys through a dict_keys object.

```.values()``` returns the values through a dict_values object.

```.items()``` returns both the keys and values through a dict_items object.


## Ok, now that we have that all sorted out, let's use a for loop to iterate through our dictionary!

In [22]:
print(monkey_A.keys())
for k in monkey_A.keys():
    print(k,monkey_A[k])

dict_keys(['spiketimes', 'name'])
spiketimes [0, 20, 34, 56]
name Einstein

In [24]:
print(monkey_A.items())# list of items

for key, value in monkey_A.items(): # combines tuple unpacking with items
    print(key, value)

# the above is equivalent to:
for item in monkey_A.items():
    key, value = item
    print(key, value)

dict_items([('spiketimes', [0, 20, 34, 56]), ('name', 'Einstein')])
spiketimes [0, 20, 34, 56]
name Einstein
spiketimes [0, 20, 34, 56]
name Einstein

## Range

We're going to use a function called range! Abhi is not going to really explain. Instead, he is going to show you something that can ```help```.

In [38]:
range?

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

### Wow, how useful! Now we don't need Abhi to explain anything ever again. 

Just kidding! Anyway, ```range()``` is a useful function when using for loops.

In [ ]:
for i in range(6):
    print(i)

You can also create a for loop through a range like above that starts at 1 and stops at 7 (inclusive).

In [ ]:
for i in range(1,8):
    print(i)

We can also create one that starts at 0 and ends at 6 (inclusive) where only every other number is iterated through.

In [ ]:
for i in range(0,7,2):
    print(i)

How can we use range with a for loop to print both the index and the value for each element of a list?

When you want to modify entries in a list, it is helpful to have the index for the entries.

In [ ]:
print(teachers)
for i in range(len(teachers)):
  print(i, teachers[i])

## List Comprehension
With something called **list comprehension**, you can use a for loop in line to create dictionaries and lists like this:

In [ ]:
my_list = [x**2  for x in range(6) if x%2==0] # only uses x's where the condition is true
print(my_list)

In [ ]:
# The above code is equivalent to:
my_list = []
for x in range(6):
  if x%2 == 0:
    my_list.append(x**2)

print(my_list)

## Ok but why would I ever do that?

Well, it's cleaner... And usually a lot easier to read. If you disagree because you hate looking at math, check this NEXT example out--you can do this using an existing list too! 

### Example:
Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

In [39]:
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

Without list comprehension you will have to write a for loop with a conditional test inside:

In [ ]:
newlist = []

for name in fruits:
  if "a" in name:
    newlist.append(name)

print(newlist)

With list comprehension, you can do all of that with only one line of code! And it's a little easier and faster to read.

In [ ]:
newlist = [name for name in fruits if "a" in name]

print(newlist)

In [ ]:
### FYI, for those who hate math:
newlist = [x for x in fruits if "a" in x]
# if this is harder for you to read than using the variable 'name', 
# then I hope this serves as a reminder to always name your variables 
# in a way that will make things easier for you to understand. Also,
# I apologize in advance for the homework problems.

## Exercise:
Create a variable named ```capitalized_fruits``` and use list comprehension syntax to produce another list from ```fruits``` that has capitalized  ['Mango', 'Kiwi', 'Strawberry', etc...]. 
### Hint: 
You can use the function .upper() to capitalize strings like so:

In [57]:
fruits[0][0].upper()

'M'

In [61]:
#Your work goes here
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']
capitalized_fruits = [fruits[0].upper() + fruits[1:] for fruits in fruits ]
print(capitalized_fruits)

['Mango', 'Kiwi', 'Strawberry', 'Guava', 'Pineapple', 'Mandarin orange']

# Challenge question

You are looking at three different restaurants to eat at with 3 of your very difficult friends friends, who have certain dietary restrictions/are picky eaters. Elliot is pescetarian for ethical reasons, so he does not eat chicken, pork, or beef. Sean is avoiding anything with bread. Eric will not eat things that have any ingredients that have the word 'green' in there, but is the only one willing to ask the waiter to omit it.

Write code to sort through a set of restuarant menus (provided below), and print the set of restaurants where every person has at least one option to choose from. Additionally, print what each person can order from that restaurant. If Eric needs to omit something, print what he needs to omit.

In [ ]:
# Challenge question

You are looking at three different restaurants to eat at with 3 of your very difficult friends friends, who have certain dietary restrictions/are picky eaters. Elliot is pescetarian for ethical reasons, so he does not eat chicken, pork, or beef. Sean is avoiding anything with bread. Eric will not eat things that have any ingredients that have the word 'green' in there, but is the only one willing to ask the waiter to omit it.

Write code to sort through a set of restuarant menus (provided below), and print the set of restaurants where every person has at least one option to choose from. Additionally, print what each person can order from that restaurant. If Eric needs to omit something, print what he needs to omit.
charm_thai = {
    'red curry' : ['green beans', 'chicken','red bell peppers','coconut milk'],
    'pad thai' : ['noodles','tofu','egg','tamarind sauce', 'bamboo shoots'],
    'pad see ew' : ['green beans', 'chicken', 'red bell peppers','black bean paste'],
    'green curry' : ['green curry paste', 'chicken','coconut milk', 'red bell peppers', 'bamboo shoots'],
    }
bus_stop_diner = {
    'breakfast combo' : ['pancakes', 'ham', 'eggs', 'bacon', 'syrup'],
    'french toast' : ['bread', 'syrup','eggs','milk'],
    'BLT sandwich' : ['bacon', 'bread', 'lettuce', 'tomato'],
    'fried chicken' : ['chicken']
}
jin_ramen = {
    'tonkotsu ramen' : ['pork','noodles','soup','bamboo shoots','green onion'],
    'agedashi tofu' : ['tofu', 'soy sauce'],
    'veggie ramen' : ['green vegetables','noodles','tofu','soup', 'bell pepper','corn']
}
restaurant_list = [charm_thai, bus_stop_diner, jin_ramen]

## Enumerate

Enumerate lets you access both the index and the item itself for an item in a list -- this is useful when you want access to both the item and the index of that item in the body of the loop. You can always access the item by using `item = list[index]` but enumerate lets you shorten this.

In [63]:
expat_best_bites =['cauliflower wings', 'tater tots']

In [64]:
# What if we want both the index and the value at that index for a list?
for i in range(len(expat_best_bites)):
  print(i, expat_best_bites[i])

0 cauliflower wings
1 tater tots

In [65]:
# Enumerate lets us get both at the same time elegantly!
for i, item in enumerate(expat_best_bites):
  print(i, item)

0 cauliflower wings
1 tater tots

## Infinite loop warning!!!

In [25]:
pet_names = ['Mobi', 'Corn','Marcel']
for i in pet_names:
    print(i)

Mobi
Corn
Marcel

## Please do not run this :-) its only for Abhi
Sometimes when you write loops, you might get stuck in infinite loops. Run the following code. Then use the "interrupt" button at the top to make Marcel stop barking.

In [ ]:
# Marcel is a dramatic young corgi.
bark_counter =[0]
for i in bark_counter:
    print('Meow (◕ᴥ◕ʋ)')
    print("MARCEL NEEDS YOUR ATTENTION!!!! NUMBER OF TIMES HES BARKED: "+str(i))
    bark_counter.append(i+1)

# Why do you think this ran infinitely?

# While loops

While loops, unlike for loops, will iterate indefinitely, until the condition following the while is False. You might want to do this if you are using an iterative algorithm where you want the performance to get above a certain level before stopping, for example with machine learning (more on this later).

In [ ]:
# While loops
# find largest power of 2 less than 9000
pets = 0
while pets<25:
  print('Marcel demands pets! You have given him '+str(pets)+ ' pets.')
  pets +=1
print('Marcel is satisfied after receiving '+str(pets) + ' pets.')

## Don't run this next cell (only abhi will)

If you put a condition that is never False, your code may run indefinitely, and you may have to interrupt your kernel to get it to stop.

In [ ]:
i=0
while i < 10:
  print(i)

## Exercise:
The Collatz sequence begins with some starting number. Given its previous number $n$, it generates the next number based on the following rule: if $n$ is even, the next number is $n/2$. If $n$ is odd, the next number is $3n+1$.

Write some code below that generates the Collatz sequence for a starting number of $27$ until the number hits $1$.

In [81]:
# Collatz sequence
n = 27
while n == 1 :
  print(1)
if n%2 == 0 :
  print (n//2)
else : n % 3 == 1
print()

In [84]:
n = 27
while n!=1 :
    if n%2 == 0 :
      n = n/2
else :
    n = 3*n + 1
print (n)

KeyboardInterrupt:

# Break and Continue

`break` and `continue` are statements that can be used within loops.

When code reaches a `continue` statement, it jumps to the next iteration of the loop without running the rest of the code in the loop.

In [85]:
for i in range(10):
  print('New loop')
  if i%2==0:
    continue
  print(i) # This command is skipped for all even numbers

New loop
New loop
1
New loop
New loop
3
New loop
New loop
5
New loop
New loop
7
New loop
New loop
9

When code reaches a `break` statement it jumps outside the loop (skipping any remaining iterations) without running the rest of the code in the loop.

In [86]:
for i in range(10):
  print('New loop')
  if i==5:
    break # Leaves the loop completely once it encounters this statement
  print(i)

New loop
0
New loop
1
New loop
2
New loop
3
New loop
4
New loop

A `pass` statement, finally is completely ignored. This is useful when code is required syntactically, but you don't actually want to run anything there.

In [87]:
for i in range(10):
  print('New loop')
  if i==5:
    pass # Leaves the loop completely once it encounters this statement
  print(i)

New loop
0
New loop
1
New loop
2
New loop
3
New loop
4
New loop
5
New loop
6
New loop
7
New loop
8
New loop
9

For these statements it may not be entirely clear right now what their purpose is, but they become particularly useful in managing more complex code.

### Example:

Say, for instance, you are interested in seeing how voltage to calcium transformations occur in your favorite neuron. You run some pre-processing code on a large batch of 2p imaging data is paired with some simultaneous E-phys recordings, and you would typically let the code run overnight since it takes a lot of computing power.  However, some subset of your imaging data does not have any e-phys recordings that are paired with it, and your code will throw an error when you don't have that happening. 

A lot of people would just let it run overnight, come back the next day, and find that they have only processed 20/150 files because on the 21st file, it stopped running because you ran into an error of missing the e-phys data. They would then be like, "aw gosh, that sucks! I'll just check my data more thoroughly the next time I run this!" and then it would happen maybe like 20 more times to them. 

But YOU? This would only ever happen to you ONCE because you know about ```continue``` and ```pass``` statements!*** So, to avoid ever running into this problem ever again, you would just check to see if there is a e-phys recording, and if there isn't, then to ```pass``` the loop that would process the e-phys recording so you don't get thrown an error that would stop the entire preprocessing pipeline.


***Note that there are many ways to avoid this; you don't have to use ```continue, pass or break``` statements. I was just trying to think of an example. I personally would probably use a combination of ```try/except``` and ```break/continue/pass``` statements. 

Hmmm? What is ```try/except```, you ask? Well, it's going to be explained in the next section.

# Try / Except


`try` tries the code in the `try` codeblock, and if it gives an error, runs code in an `except` code block. Best practice is to specify the errors you expect in the `except` statement so that you don't accidentally allow an unexpected error to go by unreported and unnoticed.

For example, lets say that we want to count the number of occurrences of each letter in a given word -- for this example we will use abracadabra, but we want our code to work on any word.

We might decide to do this using a dictionary where the keys are the letters and the values are the number of times that letter has occurred. We only want to have letters that do occur in the word as keys in our dictionary.

In [ ]:
word = "abracadabra"

letter_counts = {}
for letter in word: # we can loop through strings like lists or tuples.
  letter_counts[letter]+=1 # add one to the value at key letter

In [88]:
word = "abracadabra"


letter_counts = {}
for letter in word:
  try:
    letter_counts[letter]+=1
  except KeyError: # we specify the type of error we expect here
    letter_counts[letter] = 1

print(letter_counts)

{'a': 5, 'b': 2, 'r': 2, 'c': 1, 'd': 1}

See below for why it is important to specify the type of error you expect. Since we specified the type of error we expected and got a different error, we still find out that there is an error, and can take precautions to make sure we don't, for example, overwrite important info.

In [ ]:
word = "abracadabra"


letter_counts = {}
letter_counts['a'] = "important info that should not be overwritten" # something unexpected as a value
for letter in word:
  try:
    letter_counts[letter]+=1
  except KeyError: # we specify the type of error we expect here
    letter_counts[letter] = 1

print(letter_counts)

What happens if you do not specify KeyError after `except` and just write `except:`?

Try modifying below.

In [ ]:
word = "abracadabra"


letter_counts = {}
letter_counts['a'] = "important info that should not be overwritten" # something unexpected as a value
for letter in word:
  try:
    letter_counts[letter]+=1
  except KeyError: # we specify the type of error we expect here
    letter_counts[letter] = 1

print(letter_counts)

# Functions

Currently, you are writing code simply by defining code that will be executed immediately. As you create larger codebases and share them with other people, it will be important for you to structure your code in functions: structure which execute a certain piece of code.

For example, the Fibonacci sequence starts with $x_0=0$ and $x_1=1$. We then define $x_{j+2}=x_j+x_{j+1}$. The following functions prints out each value of the Fibonacci sequence until some value $n$.

You can recognize functions by the `def` symbol in the beginning. `fibonacci` is the function's name and the variable in parentheses afterwards is an argument provided to the function. (Multiple arguments would be separated by commas.)

In [89]:
def fibonacci(n):
  """
  Print fibonnacci series up to n.
  Args:
      n (int): Maximum value of the fibonacci series to print.

  """
  a,b = 0, 1
  while a <n:
    print(a)
    next= a+b
    a = b
    b = next

In [ ]:
fibonacci(3000)

In [ ]:
help(fibonacci)

I generally prefer using ```?```

In [91]:
fibonacci ? #an IPython exclusive btw :-)

SyntaxError: invalid syntax (1700677984.py, line 1)

## Exercise

Write a function (called `collatz`) that takes in a starting value and prints out each value of the Collatz sequence. As a reminder, the rule was:
- if the previous value $n$ was even, the next value is $n/2$.
- if the previous value was odd, the next value is $3n+1$.
Let the function end when the value taken is $1$.

## return

The return sequence leaves the function and returns any variable coming afterwards.

In [ ]:
def fib_return (n):
  """
  Print fibonnacci series up to n.
  Args:
      n (int): Maximum value of the fibonacci series to return.
  Returns:
      list: List of fibonacci sequence values
  """

  fib_list = []
  a,b = 0, 1
  while a <n:
    fib_list.append(a)
    next= a+b
    a = b
    b = next
  return fib_list

In [ ]:
fib_return(1000)

In [ ]:
my_fib_list = fib_return(1000)

In [ ]:
my_fib_list

## Default arguments

In [ ]:
# We cannot run fib_return without specifying n:
fib_return()

In [ ]:
# Default arguments can be specified but don't have to be:
def fib_return (n=1):
  """
  Print fibonnacci series up to n.
  Args:
      n (int): Maximum value of the fibonacci series to return. Default value is 1.
  Returns:
      list: List of fibonacci sequence values
  """

  fib_list = []
  a,b = 0, 1
  while a <n:
    fib_list.append(a)
    next= a+b
    a = b
    b = next
  return fib_list

In [ ]:
fib_return()

In [ ]:
fib_return(10)

## Warning about default arguments

Your default arguments should never be mutable. Otherwise repeated function calls can interact with each other.

In [ ]:
# mutable arguments

def f(a, L=[]):
    L.append(a)
    return L

print(f(1)) # predict what will happen?
print(f(2))
print(f(3))

In [ ]:
# Which data types are mutable -> dictionaries and lists

In [ ]:
# Solution
def f(a, L=None):
    if L is None: # None now provides a marker that we would like to use the default argument.
        L = []
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

## Exercise

Modify your ```collatz``` function so that it returns a list containing the sequence instead of printing it. Set the default argument to 100.

## No challenge problems. Instead, do the WK4 homework.
The notebook contains content we won't be going over in class (because we don't have time) but will be useful for you to know about when navigating codebases. The notebook can be found on the github page in the WK4 folder.