# Continuing from where we left off last time...

# Bools

Python's bool datatype stores l logical values of `True` or `False`. Bools are named for Boolean logic which specifies operations that can be done between `True` and `False` values, specifically `and`, `or`, and `not`. The rules for boolean logic are listed below: 

| A | B | A and B | A or B | not A |
|---|---|---------|--------|-------|
| T | T | T       | T      | F     |
| T | F | F       | T      | F     |
| F | T | F       | T      | T     |
| F | F | F       | F      | T     |

In [1]:
True and True

True

In [2]:
True and False

False

In [3]:
False and False

False

In [ ]:
True or False # one of

True

In [4]:
False or False

False

In [5]:
True or True

True

In [6]:
not True

False

### Order of operations: 

`not` first, then `and`, then `or`

In [ ]:
True or (not True) and False

In [ ]:
(True or (not True)) and False

## Comparison operations
Comparison operations let us define booleans from other datatypes based on the values of those datatypes.
* less than or equal `<=` 
* less than `<`
* greater than or equal `>=` 
* greater than `>` 
* not equal `!=`
* is equal to `==`

In [7]:
print(8<10)
print(10 < 10)
print(10 <= 10)

True
False
True

In [8]:
neuroscience ='fun'
python = 'fun'

# What will this print?
print(neuroscience == 'fun' and python == 'fun') 
print(neuroscience == 'fun' or python == 'fun')

True
True

In [ ]:
neuroscience ='fun'
python = 'cool'

# What will this print?
print(neuroscience == 'fun' and python == 'fun')  # and
print(neuroscience == 'fun' or python == 'fun')  # or

False
True

In [ ]:
neuroscience ='funny'
python = 'cool'

# What will this print?
print(neuroscience == 'fun' and python == 'fun')
print(neuroscience == 'fun' or python == 'fun')

In [11]:
x = 5 # What will this print?
print(x < 10 and x > 0)

True

In [ ]:
x = 10 # What will this print?
print(x < 10 and x > 0)

In [ ]:
x = 0 # What will this print?
print(x < 10 and x > 0)

### Exercise:

Write code like in the above examples that prints `True` if a variable, `y`, is greater than 10 or less than -10, and `False` otherwise.

Test that it does what it should for y=10 (False), y=-10 (False), y = 11 (True), y = -11 (True)

In [16]:
y = 10
print(y > 10 and y < -10)

False

In [17]:
y = -10
print(y > 10 and y < -10)

False

In [21]:
y = 11
print(y > 10 or y < -10)

True

In [22]:
y = -11
print(y > 10 or y < -10)

True

## If / else statements

If / else statements let us run code only if code evaluates to True.

Python uses indentation after a colon to indicate code blocks.

So for example, below if x is equal to 6, the code in the code block, `print("hi")` will run, otherwise it will not run.

```
if x==6:
    print("hi")

```

An `else` statement after an `if` statement tells Python to run the code inside the `else` codeblock if the `if` codeblock was not run.

The below codeblock prints exactly what it says it will.

```
if x == 6:
    print("x is 6")
else:
    print("x is not 6")
```

`elif` statements can be placed after after an `if` statement. `elif` statements are checked in order if none of the previous codeblock have run. Python runs code inside an `elif` codeblock if none of the preceding `if` and `elif` statements were true, and if that `elif` statement is True.

```
if x == 6:
    print("x is 6")
elif x%2 == 0:
    print("x is even")
elif x%2 == 1:
    print("x is odd")
else:
    print("You should never get here -- every number is either even or odd")
```

In [23]:
num=9 # What will this do?
if num%2 ==1:
    print("foo")

foo

In [24]:
num=8 # What will this do?
if num%2 ==1:
    print("foo")

In [25]:
num = 8 # What will this do?
if num%2 ==1:
    print("foo")
else:
    print("bar")

bar

In [26]:
num = 9 # What will this do?
if num%2 ==1:
    print("foo")
else:
    print("bar")

foo

In [27]:
num = 3 # What will this do?
if num %2 ==1:
  print("foo")
elif num %3 == 0: # else if
  print("bar")
else:
  print("foobar")

foo

In [28]:
num = 6 # What will this do?
if num %2 ==1:
  print("foo")
elif num %3 == 0: # else if
  print("bar")
else:
  print("foobar")

bar

In [29]:
num = 4 # What will this do?
if num %2 ==1:
  print("foo")
elif num %3 == 0: # else if
  print("bar")
else:
  print("foobar")

foobar

## Exercise
1. Write something so that, given a variable called `my_number`, if it is less than or equal to 3, it prints "less than or equal to 3". Test it on `my_number=3` and `my_number=4`
2. Write something so that, given a variable called `my_number`, if it is less than or equal to 3, it prints "less than or equal to 3".  Otherwise, print ("greater than 3"), Test it on `my_number=3` and `my_number=4`.
3. Write something so that, given a variable called `my_int`, if it is not an integer, it prints "please give me an integer". Test it on `my_int=3` and `my_int=3.2`
4. Write something so that, given a variable called `my_int`, if it is not an integer, it prints "please give me an integer". Otherwise, if `my_int` is less than 0, print "negative". Test it on `my_int=0`, `my_int=3.2`, and `my_int=-1`.
5. Challenge:
- Write something so that, given a variable called `my_number`:
    - if it is not an integer, it prints "please give me an integer"
    - otherwise if it is less than 0 it prints "negative"
    - otherwise if it is between 0 and 10 it prints "digit"
    - otherwise it prints "we can't count this on our hands"
- Test it out by setting `my_number` to a few different values and making sure it does what you want / expect.

In [45]:

my_number = "x"
x = 3
if x <= 3:
    print ("less than or equal to 3")

less than or equal to 3

In [46]:
my_number = "x"
x = 4
if x <= 4:
    print ("less than or equal to 3")

less than or equal to 3

In [48]:
my_number = "x"
x =3 
if x <= 3:
    print ("less than or equal to 3")
else:
    print ("greater than 3")

x =4 
if x <= 3:
    print ("less than or equal to 3")
else:
    print ("greater than 3")

less than or equal to 3
greater than 3

In [51]:
my_int = 3
if type(my_int) == int:
   print("please give me an integer")

please give me an integer

# More Exercises:

Write a piece of code that given as string variable, does the following:
- Prints "short word" for words with up to 4 letters, "medium work" for words with more than 4 and less than 10 letters, and "long word" for words with 10 letters or more.
- Print if the word has an even or an odd number of letters.
- Checks if the word starts with "s" and if not prints its first letter.
- Print "the Force is strong with you" if the word is "jedi".

Test it out by setting a variable "my_word" to a few different values and making sure it does what you want / expect.

In [2]:
# Your Work Goes Here
word = 'poop'
if len(word) <= 4:
    print('short word')
elif len(word) >=10:
    print('long word')
else:
    print('medium work')

if len(word)%2 ==0:
    print('even number of letters')
else:
    print('odd number of letters')

if word[0] != 's':
    print(word[0])

if word == 'jedi':
    print('the Force is strong with you')

short word
even number of letters
p

# Lists

Lists let you define a sequence of anything -- strings, integers, floats, other lists, etc.

Many of the same operations that work with strings also work with lists. The main difference is that lists are mutable, which means that you can change elements of the list after it has been created.

In [8]:
teachers = ['Abhi', 'Sharon', 'Sam']

In [55]:
teachers[0]

'Abhi'

In [56]:
teachers[-1]

'Sam'

In [57]:
teachers*3

['Abhi', 'Sharon', 'Sam', 'Abhi', 'Sharon', 'Sam', 'Abhi', 'Sharon', 'Sam']

## Append

In [9]:
teachers.append('Cornelia')

In [24]:
teachers

['Abhi', 'Sam']

## Removing elements from a list

In [12]:
teachers.remove('Cornelia')

In [13]:
teachers

['Abhi', 'Sharon', 'Sam']

In [15]:
del teachers[1] # also works to remove multiple elements with slicing, which will be taught in a future class

In [63]:
teachers

['Abhi', 'Sam']

In [64]:
teachers.pop(1) # remove item at index 1 from list & returns it. If don't enter an index, will remove last item.

'Sam'

In [65]:
teachers

['Abhi']

In [32]:
aaa =["A", "B","C"]
aaa

['A', 'B', 'C']

In [33]:
aaa.append(1)
aaa

['A', 'B', 'C', 1]

In [34]:
aaa.remove("A")
aaa

['B', 'C', 1]

In [35]:
del aaa[0]
aaa

['C', 1]

In [36]:
aaa.append('X')
aaa

['C', 1, 'X']

In [37]:
aaa.pop(1)

1

In [38]:
aaa

['C', 'X']

In [39]:
bbb = ['a']
bbb

['a']

## List of Lists

In [41]:
n=[1,2,3]
s = ['a', 'b', 'c']
list_of_list = [n,s]
print(list_of_list)

[[1, 2, 3], ['a', 'b', 'c']]

In [42]:
len(list_of_list)

2

In [43]:
# append adds the argument inside the parentheses as one element in the list
s.append(n)
print(s)

['a', 'b', 'c', [1, 2, 3]]

In [70]:
# appends each element of n to list s
s.extend(n)
print(s)

['a', 'b', 'c', [1, 2, 3], 1, 2, 3]

In [71]:
print(n)
print(s)

[1, 2, 3]
['a', 'b', 'c', [1, 2, 3], 1, 2, 3]

**Obs.:** When you have a list that contains within it another mutable object, such as other lists, there are differences between `deepcopy` and the shallow `.copy` option that comes with lists. We don't have time to get into why this is, but you can check the extra notebook about this topic at home. The main takeaway is if you want to avoid changing the original list or the original list changing the copy, use deepcopy!

## Exercise:

What will the following code block print?
For each print statement, comment what you think it will be and then test before moving on to the next print statement.

```
test_list = []
test_list +=['do']
test_list.append('re')
test_list.append(['mi','fa', 'so'])
test_list.extend(['la', 'ti'])
print(len(test_list)) #1
print(test_list) #2
print(test_list[2]) #3

del test_list[2][0]
print(test_list) #4

test_list[3] = []
print(test_list) #5

```

In [ ]:
# paste here and run it
test_list = []
test_list +=['do']
test_list.append('re')
test_list.append(['mi','fa', 'so'])
test_list.extend(['la', 'ti'])

print(len(test_list)) #1
print(test_list) #2
print(test_list[2]) #3

del test_list[2][0]   #test_list[2] zhenti
print(test_list) #4

test_list[3] = []
print(test_list) #5

5
['do', 're', ['mi', 'fa', 'so'], 'la', 'ti']
['mi', 'fa', 'so']
['do', 're', ['fa', 'so'], 'la', 'ti']
['do', 're', ['fa', 'so'], [], 'ti']

In [48]:
test_list =[]
test_list +=['do']
test_list.append('re')
test_list.append(['mi','fa','so'])
test_list.extend(['la', 'ti'])
test_list

['do', 're', ['mi', 'fa', 'so'], 'la', 'ti']

# Dictionaries

Dictionaries are a mutable datatype consisting of key and value pairs. They are good for quickly accessing the values of arbitrary keys. Keys and values can both be any data type.

Dictionaries look like this:
```
{
  key0: value0,
  key1: value1,
  key2: value2
}
```

In [73]:
# Dictionaries:
monkey_A = {
'spiketimes': [0,20,34,56],
'name': 'Einstein',
}

In [74]:
monkey_A

{'spiketimes': [0, 20, 34, 56], 'name': 'Einstein'}

In [75]:
# lists the keys in the dictionar
monkey_A.keys()

dict_keys(['spiketimes', 'name'])

In [76]:
monkey_A['spiketimes'] # gets the value at the key inside the brackets

[0, 20, 34, 56]

What will `monkey_A['name']` output?

Guess, and then type and run below.

In [77]:
# type here
monkey_A['name']

'Einstein'

In [78]:
monkey_A['lab'] = 'Churchland' # adds key, value pair to dictionary ('lab' is the key, 'Churchland' is the value)

In [79]:
monkey_A

{'spiketimes': [0, 20, 34, 56], 'name': 'Einstein', 'lab': 'Churchland'}

In [80]:
'lab' in monkey_A # test if a key is in a dictionary
# this also work with strings (e.g. 'hi' in 'abhi' will be True)

True

In [81]:
del monkey_A['lab'] # delete a key value pair
'lab' in monkey_A

False

In [82]:
monkey_A

{'spiketimes': [0, 20, 34, 56], 'name': 'Einstein'}

In [63]:
aaa = {
    'apple': 1,
    'orange': 'sweet',
    'banana': [0.1]
    }
aaa

{'apple': 1, 'orange': 'sweet', 'banana': [0.1]}

In [64]:
aaa ['apple']

1

In [56]:
aaa ['orange']

'sweet'

In [65]:
aaa ['banana']

[0.1]

In [67]:
aaa ['berry'] = 'favor'
aaa

{'apple': 1, 'orange': 'sweet', 'banana': [0.1], 'berry': 'favor'}

In [68]:
'berry' in aaa

True

In [75]:
'apple' in aaa

False

You can create dictionaries from lists and by setting keys equal to values using the `dict` constructor.

In [83]:
my_list = [(1,'Cornelia'), (2, 'Mobi'), (3, 'Banana'), (4, 'Cat'), (5,'Dog')]
print(my_list)
dict(my_list)

[(1, 'Cornelia'), (2, 'Mobi'), (3, 'Banana'), (4, 'Cat'), (5, 'Dog')]

{1: 'Cornelia', 2: 'Mobi', 3: 'Banana', 4: 'Cat', 5: 'Dog'}

In [84]:
dict(instructor_1 = 'Sam', instructor_2 = 'Sharon', instructor_3 = 'Abhi')

{'instructor_1': 'Sam', 'instructor_2': 'Sharon', 'instructor_3': 'Abhi'}

Note that dictionary keys need to be unique, so, for example:

In [76]:
my_list = [(1,'Sam'), (1, 'Abhi')]
dict(my_list)

{1: 'Abhi'}

Will not give what we expect, but values do not need to be unique, which is why the below works.

In [77]:
my_list = [(1,'Sam'), (2, 'Sam')]
dict(my_list)

{1: 'Sam', 2: 'Sam'}

## Exercise

1. Create a dictionary (using any of the above methods) of what you would order for lunch if you could. Have the keys be the menu items, and the values be their prices. Store the dictionary in a variable called `lunch_menu`
2. Print out the keys of the dictionary.
3. Get the price for a specific menu item out of the dictionary.
4. Check if a certain menu item is in the dictionary.
5. Delete that menu item from the dictionary.
6. Check again if that menu item is in the dictionary.

In [81]:
#1

lunch_menu = {
    'sandwich': 5.5 ,
    'salad': 4.0 ,
    'soup': 3.5 ,
    'pizza': 6.0
}
print(lunch_menu)

{'sandwich': 5.5, 'salad': 4.0, 'soup': 3.5, 'pizza': 6.0}

In [82]:
#2
print(lunch_menu.keys())

dict_keys(['sandwich', 'salad', 'soup', 'pizza'])

In [83]:
#3
print(lunch_menu['salad'])

4.0

In [86]:
#4
'salad' in lunch_menu

True

In [87]:
#5
del lunch_menu['soup']
print(lunch_menu)

{'sandwich': 5.5, 'salad': 4.0, 'pizza': 6.0}

In [88]:
#6
'soup' in lunch_menu

False

# Tuples
Tuples are static, or immutable. Like strings, you cannot modify them once you have created them. Slicing works with tuples like it works with lists. Tuples are useful when you want to make sure something cannot accidentally get modified, and we will use them when we learn about functions next class.

In [ ]:
my_tup = 'test',0,1

In [ ]:
my_tup

In [ ]:
my_tup[0]

What will `my_tup[1]` output? Guess before typing and checking below.

In [ ]:
# my_tup[1]

In [ ]:
my_tup[0] = 'it worked' # will this line work? Guess before trying.

In [ ]:
my_tup + 0 # what about this?

In [ ]:
my_tup + (0,) # creates a new tuple, but my_tup is unchanged.

In [ ]:
my_tup

In [ ]:
new_tup = my_tup + (0,)

In [ ]:
new_tup # what will new_tup be?

In [ ]:
del my_tup[0]

## Tuple Unpacking and Packing

Tuple packing and unpacking refers to separating a tuple into variables or joining variables into a tuple. When unpacking `_` is used as a placeholder for a tuple value you do not care about using in further code.

In [ ]:
a,b = my_tup # fails because only have two values to unpack into but tuple has 3

In [ ]:
a,b,_ = my_tup # tuple unpacking

In [ ]:
print(a,b)

In [ ]:
new_tup = 1,2,3 # tuple packing

In [ ]:
new_tup

In [ ]:
hierarchical_tup = (1,2),3
print(hierarchical_tup)

In [ ]:
# Let's say we want a b and c to represent the three elements in our hierarchical tuple
a,b,c = hierarchical_tup
# Why does this fail?

In [ ]:
# How can we unpack this?

# Unpack multiple tuples

x, c = hierarchical_tup
a,b = x

# Hierarchical Tuple Unpacking

(a,b),c = hierarchical_tup

## Exercise:

1. Are tuples mutable or immutable?
2. Create a tuple of your and your coding partner's names, called `our_names`.
3. Change your name to the name of one of the other people at your table (Can you?)
4. Create a new tuple of `whole_table_names` with `our_names` and your other tablemate's names.
5. Unpack the `whole_table_names`, using a placeholder (a placeholder in this context is ``` _```) for your own name 
6. Print everyone else's names using the unpacked values.

In [ ]:
#1.
#2.
#3.
#4.
#5.
#6.

# For loops

For loops let us repeat code, for example when iterating through a dictionary, list, or a tuple. We can also use for loops when we want to repeat code a certain number of times.

### Directly iterate through a list

In [ ]:
teachers = ['Abhi', 'Sharon', 'Sam']
for val in teachers: # directly iterate through the items in a list.
    print(val)

### Directly iterate through a tuple

This works in the same way as for a list. Can you write something like above using new_tup instead of teachers? Try it below.

In [ ]:
for val in new_tup:
    print(val)

### Directly Iterate through a Dict

In [ ]:
print(monkey_A.keys())
for k in monkey_A.keys():
    print(k,monkey_A[k])

In [ ]:
print(monkey_A.items())# list of items

for key, value in monkey_A.items(): # combines tuple unpacking with items
    print(key, value)

# the above is equivalent to:
for item in monkey_A.items():
    key, value = item
    print(key, value)

### Range

In [ ]:
for i in range(6):
    print(i)

Can you create for loop through a range like above that starts at 1 and stops at 7 (inclusive)?

Try below.

In [ ]:
for i in range(1,8):
    print(i)

What about one that starts at 0 and ends at 6 (inclusive) where only every other number is iterated through? (Hint: use the step argument to range)

In [ ]:
for i in range(0,7,2):
    print(i)

How can we use range with a for loop to print both the index and the value for each element of a list?

When you want to modify entries in a list, it is helpful to have the index for the entries.

In [ ]:
print(teachers)
for i in range(len(teachers)):
  print(i, teachers[i])
  teachers[i] += 's'

In [ ]:
teachers # what do you expect this to output?

### List Comprehension
With something called **list comprehension**, you can use a for loop in line to create dictionaries and lists like this:

In [ ]:
my_list = [x**2 for x in range(6)]
print(my_list)

# The above code is equivalent to:
my_list = []
for x in range(6):
  my_list.append(x**2)

print(my_list)

In [ ]:
##### take the if statement out there and put it in the next on####

my_dict = {x:x**2  for x in range(6) if x%2==0} # only uses x's where the condition is true
print(my_dict)

# The above code is equivalent to:
mydict = {}
for x in range(6):
  if x%2 == 0:
    my_dict[x] = x**2

print(my_dict)

### Exercise:
1. Create a list using list comprehension where any values between 2 and 10 inclusive that are divisible by 3 are added to the list. Assign the list to a variable called `divisible_3s`.
2. Using a for loop, print the index and the value at that index for every element in `divisible_3s`.
3. Create a dictionary using list comprehension where the key is $x^3$ and the value is $x^2$ for x's between 1 and 4 inclusive. Assign the dictionary to variable `cube_square`.
4. Print the key and value for every key, value pair in `cube_square`

In [ ]:
#1 
#Hint 1: remember that you can set the upper and lower bounds of as range(lower,upper).
#Hint 2: look at the first line in the cell before this

In [ ]:
#2

In [ ]:
#3

In [ ]:
#4

## Enumerate

Enumerate lets you access both the index and the item itself for an item in a list -- this is useful when you want access to both the item and the index of that item in the body of the loop. You can always access the item by using `item = list[index]` but enumerate lets you shorten this.

In [ ]:
# define a dictionary
expat = {
    "appetizer": ['cauliflower wings', 'tater tots'],
    "main": ['curry', 'burger'],
    "dessert": ['ice cream', 'pastry']
}

In [ ]:
# What if we want both the index and the value at that index for a list?
for i in range(len(expat["appetizer"])):
  print(i, expat["appetizer"][i])

In [ ]:
for item in expat["appetizer"]:
  print(item)

In [ ]:
# Enumerate lets us get both at the same time elegantly!
for i, item in enumerate(expat["appetizer"]):
  print(i, item)

In [ ]:
# We can also use enumerate with the dictionary to number (key, value) pairs.
for i, (key, value) in enumerate(expat.items()):
  print(i, key, value)

### Exercise:

Can you use a for loop with enumerate to remove all odd numbers from `evens`, so that `evens` contains all the even digits? Use `pop` or `del`, don't use `remove` for this.

In [ ]:
# your code

# Challenge question

You are looking at three different restaurants to eat at with 3 of your very difficult friends friends, who have certain dietary restrictions/are picky eaters. Elliot is pescetarian for ethical reasons, so he does not eat chicken, pork, or beef. Sean is avoiding anything with bread. Eric will not eat things that have any ingredients that have the word 'green' in there, but is the only one willing to ask the waiter to omit it.

Write code to sort through a set of restuarant menus (provided below), and print the set of restaurants where every person has at least one option to choose from. Additionally, print what each person can order from that restaurant. If Eric needs to omit something, print what he needs to omit.

In [ ]:
charm_thai = {
    'red curry' : ['green beans', 'chicken','red bell peppers','coconut milk'],
    'pad thai' : ['noodles','tofu','egg','tamarind sauce', 'bamboo shoots'],
    'pad see ew' : ['green beans', 'chicken', 'red bell peppers','black bean paste'],
    'green curry' : ['green curry paste', 'chicken','coconut milk', 'red bell peppers', 'bamboo shoots'],
    }
bus_stop_diner = {
    'breakfast combo' : ['pancakes', 'ham', 'eggs', 'bacon', 'syrup'],
    'french toast' : ['bread', 'syrup','eggs','milk'],
    'BLT sandwich' : ['bacon', 'bread', 'lettuce', 'tomato'],
    'fried chicken' : ['chicken']
}
jin_ramen = {
    'tonkotsu ramen' : ['pork','noodles','soup','bamboo shoots','green onion'],
    'agedashi tofu' : ['tofu', 'soy sauce'],
    'veggie ramen' : ['green vegetables','noodles','tofu','soup', 'bell pepper','corn']
}
restaurant_list = [charm_thai, bus_stop_diner, jin_ramen]